/* ----- Header ----- */

:root {}

*,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

/* ----- Header ----- */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("/img/Pet.svg");
    background-size:90%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 30px 0px 20px 30px rgb(212, 212, 212);
}
/* ----- Navbar ----- */
.navbar {
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
/* Componentes do navbar-1 (logo, link, login) */
.logo-img {
    width: auto;
    height: auto;
}
/* ------ links ------ */
.links {
    width: 50%;
}

.header .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navbar ul li {
    list-style: none;
    padding: 10px;
}
/* --login e cadastro-- */
.login-cad-section {
    display: flex;
    align-items: center;
}
.login-cad-section a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
}
/*-------Search-box-----*/
.search-box input {
    width: 200px;
    height: 25px;
    border-radius: 40px;
    background-color: transparent;
    border-width: 2px;
    border-color: rgb(2, 91, 2);
    outline: none;
    padding: 2px;
    padding-left: 10px;
}
.search-box input::placeholder {
    color: rgb(195, 197, 198);
}

/* ----=====CONATINER=====----- */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9fae8;
}
/* --==Section Novos Produtos==-- */
.novos-produtos {
    margin-top:50px;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.novos-produtos h2 {
    width: 100%;
    height: 40px;
}
.produtos {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-produto {
    width: 200px;
    height: 300px;
    box-shadow: 3px 1px 20px 3px rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    border-radius: 10px;
    overflow: hidden;
}
.card-produto .imagem-links {
    height: 45%;
    width: 100%;
    display: flex;
justify-content: center;
}
.card-produto .produto-img{
    height: 100%;
    width: 220px;
}
/* ---===DESCRIÇÃO===--- */
.descricao {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* --Preço-- */
.descricao .preco {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.sem-desconto{
    color: rgb(117, 0, 0);
    text-decoration: line-through;
    font-size: 12px;
}
.desconto{
color: rgb(10, 78, 10);
font-size:15px;
}
/* ------------- */

/* --botao add car-- */
.add-car{
border: none;
width: 100%;
background-color: rgb(90, 67, 46);
color: aliceblue;
height: 13%;
transition: .2s;

}
.add-car img{
    height: 20px;
    width: 20px;
}
.add-car:hover{
    background-color: rgb(133, 102, 74);

}
