:root {
  --padrao: "Hammersmith One", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--padrao);
  background-color: #ffffff;
}

/* ----- Header ----- */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: "Hammersmith One", sans-serif;
  overflow: hidden;
}

.banner {
  width: 100%;
  position: absolute;
  z-index: -2;
}

/* ----- Botão do Banner ----- */

.btn-banner {
  margin-top: 23%;
  margin-left: 10%;
  width: auto;
  height: 60px;
}

.btn-banner button {
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: 3px 3px 15px gray;
  background-color: #ff8e15;
  border: 2px solid #ff8e15;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-banner button:hover {
  transform: scale(110%);
  background-color: white;
  color: #ff8e15;
}

/* ----- Navbar ----- */
.navbar {
  height: 30px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* Componentes do navbar-1 (logo, link, login) */
.logo-img {
  width: auto;
  height: auto;
}

/* ------ links ------ */
.links {
  width: 35%;
  display: flex;
  align-items: center;
}

.header .navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header .navbar ul a {
  text-decoration: none;
  /* color: rgb(116, 60, 60); */
  color: #ff8e15;
  position: relative;
}

.navbar ul a::after {
  content: "";
  width: 0%;
  height: 3px;
  /* background-color: rgb(102, 33, 33); */
  background-color: #ff8e15;
  position: absolute;
  bottom: 0;
  left: 1px;
  transition: 0.5s;
}

.navbar ul a:hover::after {
  width: 120%;
  transition: 0.5s;
}

/* --login e cadastro (LINK)-- */
.login-cad-section {
  display: flex;
  align-items: center;
}

.login-cad-section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px;
}

/*-------Search-box-----*/
.search-box input {
  width: 40vh;
  height: 25px;
  border-radius: 40px;
  background-color: white;
  border: none;
  outline: none;
  padding: 2px;
  padding-left: 10px;
}

.search-box input::placeholder {
  color: rgb(195, 197, 198);
}

/* ----=====CONATINER=====----- */
.container {
  margin-top: 12%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* --==Section Novos Produtos==-- */
.Servicos {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.div-cards {
  height: 150px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* itens cards */
.card-rectangle {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin-left: 2%;
}

.card-rectangle:hover {
  transition: 0.5s;
}

.card-rectangle img {
  height: 80%;
}

.card-rectangle span {
  display: none;
  margin-left: 30px;
  transition: 0.2s ease-in-out;
}

.card-rectangle:hover span {
  display: block;
  height: 30%;
  /* margin: 10px; */
  transition: 0.2s;
  animation: word-animation 0.5s;
}

@keyframes word-animation {
  from {
    margin-left: -50px;
    opacity: 0;
  }

  to {
    margin-left: 30px;
    opacity: 1;
  }
}

/* ----====ABout Us===---- */
.div-about-us {
  margin-top: 5vh;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-about-us {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.container-about-us hr {
  width: 4px;
  height: 100%;
  margin: 0;
  background-color: rgb(30, 155, 30);
}

/* -----=====LADO ESQUERDO=====----- */
.div-left-about-us,
.div-left-services {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 95%;
}

.div-left-about-us .title,
.div-right-services .title {
  border-left: 4px solid rgb(255, 187, 0);
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.div-left-about-us  .title .span-about-us{
    font-weight: 800;
    font-size: 30px;
}

/* -----=====NOSSA MISSAO E VISAO=====----- */
.Nossa-Missao-Visao {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  transition: .5s;
  background-color:  rgb(233, 233, 233);
}

.Nossa-Missao-Visao .btn-M-V {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.btn-M-V .btn-Missao,
.btn-Visao {
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-M-V .btn-Missao {
  background-color: rgb(22, 157, 22);
  border:3px solid rgb(22, 157, 22);
  color: #ffffff;
  transition: .2s;
  cursor: pointer;
  font-weight: 700;
}

.btn-M-V .btn-Visao {
  background-color: #ff8e15;
  border:1px solid #ff8e15;
  transition: .2s;
  cursor: pointer;
  color: #ffffff;
  padding: 7px;
  font-size: 10px;
  font-weight: 700;
}

.text-Missao {
  margin: 0;
  padding: 20px 20px 0px 20px;

}

.text-Visao {
  margin: 0;
  display: none;
  padding: 20px 20px 0px 20px;
  color : white;
}

/* -----=====LADO DIREITO=====----- */
.div-right-about-us,
.div-right-service {
  width: auto;
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.div-right-about-us img {
  height: 100%;
}

/* -----===== Serviços =====----- */
.div-services {
  margin-top: 5%;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.div-services .container-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.service-img {
  display: flex;
  justify-content: center;
  align-content: center;
}

.service-img img {
  height: 500px;
}

/* -----=====LADO DIREITO=====----- */
.div-right-services{
    margin: 20px;
}
.div-right-services .services-section {
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.services-section .services-top {
  display: flex;
}

.services-section .services-bottom {
  display: flex;
}

.div-right-services .title {
  margin-bottom: 50px;
}

/* -----=====LADO ESQUERDO=====----- */
.service-icon img {
  height: 40px;
}

.service-icon {
  background-color: #24b624;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15vh;
  padding: 5px;
}

.service-card {
  margin-top: 30px;
  width: 60vh;
  height: 30vh;
}

/* ----=====Produtos Cards=====----- */
/* Carrossel */
.slider{
  height: 100%;
  width: 100%;

}
.container-card1, .container-card2{
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider-container{
  height: 300px;
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction:column ;
  justify-content: center;
}
.div-cards-slide, .div-cards-slide2{
  width: 200%;
  display: flex;
justify-content: space-between;
transition: .5s;

}
.card{
  background-color: #24b624;
  height: 250px;
  width: 200px;
  margin-left:1% ;
}



/* ----=====FOOTER=====----- */
.footer{
  margin-top: 15vh;
  height: 75vh;
  width: 100%;
  background-color: #FDF9F4;
  display: flex;
  flex-direction: column;
}

/* ----=====FOOTER TOP=====----- */

.footer-top{
  height: 17%;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-info, .phone, .email, .address{
  display: flex;
  font-size: smaller;
  font-weight: 400;
}

.div-contact-input input{
  width: 42vh;
  height: 25px;
  border-radius: 40px;
  background-color: white;
  border: 0.5px solid;
  outline: none;
  padding: 2px;
  padding-left: 10px;
}


/* ----=====FOOTER CENTER=====----- */
.footer-center{
  height: 66%;
  width: 100%;
  background-color: rgb(119, 168, 119);
  margin: 15px 0px 0px 0px;
}



/* ----=====FOOTER BOTTOM=====----- */
.footer-bottom{
  height: 17%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-style: normal;
}