/* ----- Header ----- */

:root{
    
}

*,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ----- Header ----- */
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("/img/Pet.svg");
    background-size: 100%;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;

}

/* ----- Navbar ----- */
.navbar{
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 15px;

}

/* Componentes do navbar-1 (logo, link, login) */
.logo-img{
    width: auto;
    height: auto;
}

/* ------ links ------ */
.links{
    width: 50%;
}
.header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navbar ul li{
    list-style: none;
    padding:10px;
}
/* --login e cadastro-- */
.login-cad-section{
    display: flex;
    align-items: center;

}

.login-cad-section a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
}

/*-------Search-box-----*/

.search-box input{

    width: 200px;
    height: 25px;
    border-radius: 40px;
    background-color: transparent;
    border-width: 2px;
    border-color: rgb(2, 91, 2) ;
    outline: none;
    padding: 2px;
    padding-left: 10px;
}  
.search-box input::placeholder{
    color: rgb(195, 197, 198);
}

    